
/* -------------\*
***** GENERAL *****
\*-------------*/

body
{
    background-image : url(http://www.miroirdemuses.com/upload/lookbook/campagne-2014-photo8.jpg);
}


.logo
{
    width:125px;
    height:187px;
    position:absolute;
    left:50px;
    top: 30px;
}


/* -------------\*
***** FORM *****
\*-------------*/

.section
{
    position:absolute;
    bottom: 0px;
    left: 100px;
}


.paiement_secu
{

    display: block;
    margin-bottom:10px;
    padding:10px;
    width: 400px;
    height 200px;
    
    background-color: white;
    
    text-align : center;
    
    color:black;

}
.introduction
{

    display: block;
    padding:10px;
    width: 400px;
    height 200px;
    
    background-color: white;
    
    text-align : center;
    
    color:red;

}




/* -------------\*
***** FOOTER *****
\*-------------*/

nav ul
{
    list-style-type: none;
    
    position: absolute;
    width:100%;
    margin: auto;
    text-align: center;
    bottom:0px;
    
    background-color: rgba(24,24,24,0.8);
    
    color: white;
}

nav li
{
    display: inline-block;
    margin:10px;
}

